<header class="header" data-js-overlay-menu data-current-page="@activePage">
  <div class="container header__inner">
    <button
      class="header__burger burger-button"
      type="button"
      aria-controls="header-menu"
      aria-expanded="false"
      aria-label="Открыть меню"
      data-js-overlay-menu-burger-button>
      <svg
        class="burger-button__svg"
        width="30"
        height="30"
        viewBox="0 0 100 100"
        aria-hidden="true"
        focusable="false">
        <path
          class="burger-button__line burger-button__line--1"
          d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"></path>
        <path class="burger-button__line burger-button__line--2" d="M 20,50 H 80"></path>
        <path
          class="burger-button__line burger-button__line--3"
          d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"></path>
      </svg>
    </button>

    <a class="header__brand logo" href="index.html" aria-label="Brand Boost">
      <img
        class="logo__image"
        src="images/logo.svg"
        width="124"
        height="46"
        alt="Brand Boost"
      />
    </a>

    <nav
      id="header-menu"
      class="header__nav"
      aria-label="Основная навигация"
      data-js-overlay-menu-panel>
      <ul class="header__menu">
        <li class="header__item">
          <a class="header__link" href="index.html" data-nav-page="home" data-home-link data-js-nav-link>Главная</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="index.html#services" data-nav-page="services" data-js-nav-link>Услуги</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="index.html#about" data-nav-page="about" data-js-nav-link>О нас</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="index.html#blog" data-nav-page="blog" data-js-nav-link>Блог</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="index.html#contacts" data-nav-page="contacts" data-js-nav-link>Контакты</a>
        </li>
      </ul>

      <div class="header__menu-cta">
        <a class="header__cta header__cta--menu button button--primary button--sm button--header-menu" href="index.html#contacts">Оставить заявку</a>
      </div>
    </nav>

    <a class="header__cta header__cta--desktop button button--primary button--sm button--header-desktop" href="index.html#contacts">Оставить заявку</a>

    <div class="header__menu-backdrop" aria-hidden="true" data-js-overlay-menu-backdrop></div>
  </div>
</header>
